@media (max-width: 991px) {

/* User info profile */
.main-container .header .user-info .profile {
	position: relative;
}

/* User info edit profile button */
.main-container .header .user-info .edit-profile-button {
	position: relative;
	top: 5px;
	right: 0;
	left: 50%;
	font-size: 90%;
	padding: 3px 0;
	width: 100px;
	margin-left: -35px;
}

/********************************************************
 * SECTIONS CLASSES AND STYLES -- MAIN
 ********************************************************/

.main-container .main .main-content .filters-container:before,
.main-container .main .main-content .filters-container:after {
	content: none;
	display: none;
}

/* Filter container */
.main-container .main .main-content .filters-container {
	transition: all 0.5s ease;
	max-height: 800px;
	overflow: scroll;
	padding: 15px 0;
}

.main-container .main .main-content .filters-container.closed {
	max-height: 0;
	padding: 0;
	overflow: hidden;
}

/* Filter container close button */
.main-container .main .main-content .filters-container .close-button {
	margin-right: 30px;
	margin-top: 15px;
	float: right;
	display: block;
}

/* Results list */
.main-container .main .main-content .results-list-container {
	padding: 15px 0;
}

/* open filters button  */
.main-container .main .main-content .results-list-container .open-filters-button {
	display: block;
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background: #33598a;
	text-align: center;
	margin-top: 15px;
	margin-right: 30px;
}

.main-container .main .main-content .results-list-container .open-filters-button:hover, 
.main-container .main .main-content .results-list-container .open-filters-button:active {
	text-decoration: none;
	background: #4273b3;
}

.main-container .main .main-content .results-list-container .open-filters-button span {
	color: #fff;
	font-size: 150%;
	line-height: 35px;
}

/********************************************************
 * SECTIONS CLASSES AND STYLES -- FOOTER
 ********************************************************/

/* Main footer branding */
.main-container .footer .social {
	margin-top: 45px;
}

.main-container .footer .social .text {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 10px;
	max-width: 100%;
}

.main-container .footer .social .buttons {
	display: block;
	text-align: center;
}

}


@media (max-width: 767px) {

/********************************************************
 * GENERIC CLASSES AND STYLES
 ********************************************************/

/* Main container */
.main-container {
	margin-top: 0px;
}

/********************************************************
 * SECTIONS CLASSES AND STYLES -- HEADER
 ********************************************************/

/* Header main menu */
.main-container .header .main-menu {
	padding: 0;
}

 /* Header main menu nav */
.main-container .header .main-menu ul {
	margin: 0;
	padding-left: 0;
}

/* Header main menu nav item */
.main-container .header .main-menu ul > li {
	margin: 0;
	display: block;
}

/* Header main menu nav item link */
.main-container .header .main-menu ul > li > a {
	padding: 10px 0;
}

/********************************************************
 * SECTIONS CLASSES AND STYLES -- MAIN
 ********************************************************/


/********************************************************
 * SECTIONS CLASSES AND STYLES -- FOOTER
 ********************************************************/

/* Main footer */
.main-container .footer {
 	margin-bottom: 0px;
}

}